
@import "./sass/variable.scss";

html, body, #app, #app>div {
    height: 100%;
    margin: 0px;
    // background: slategray;
}


.notFound {
    margin-top: 75px;
    text-align: center;

    img {
        height: 250px;
        width: 300px;
        margin-top: 25px;
    }
}