
// page colors 
$primary-color: #147D08;
$background-color: black;
// text colors
$dark-text: black;
$light-text: #F5F5F5;

// fonts
$title-font: 'Libre Caslon Text', serif;
$text-font: 'Source Sans Pro', sans-serif;
$title-font: 'Libre Caslon Text', serif;

$footer-height: 50px;
