

// page colors 
$primary-color:rgb(238, 161, 156);
$background-color: black;
// text colors
$dark-text: white;
$light-text: #F5F5F5;
 
// fonts 
$title-font: 'Libre Caslon Text', serif;
$text-font: 'Source Sans Pro', sans-serif;
$title-font: 'Libre Caslon Text', serif;

// positioning




$footer-height: 40px;
